@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f3f3f3;
}

.logo {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.orange {
 color: #e7695c;
}

.blue {
    color: #335778;
}

.white {
    color: #fff;
}

.twitter-tweet {
    margin: 0 auto;
}